<ion-header>
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>
 
<ion-content padding>
    
    <form [formGroup]="loginForm" padding-right>
        <p *ngIf=" showError  " class="danger">Username or Password are incorrect.</p>
        <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input type="text" formControlName="username" required></ion-input>
        </ion-item>
    <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>

    <ion-button 
        color="primary" 
        expand="block" 
        [disabled]="!loginForm.valid" 
        (click)="login()">Login</ion-button>
</form>
</ion-content>