<ion-header style="background-color:black">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Scan QR Codes
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding style="background-color:black">
    <div class="qrpage">
        <div text-center><ion-button (click)=" scanCode() "><ion-icon name="qr-scanner"></ion-icon> Scan</ion-button></div>

        

        <ion-card padding *ngIf=" productInfo ">
            
            <span *ngIf=" productInfo?.productCode || productInfo?.codice ">
                <b>{{ productInfo?.categoria }} {{ productInfo?.nome }}</b> taglia {{ productInfo?.taglia }} € {{ productInfo?.prezzo }} <span style="text-decoration:line-through" *ngIf=" productInfo?.prezzo_listino && productInfo?.prezzo_listino != productInfo?.prezzo ">{{ productInfo?.prezzo_listino }}</span><br /><br />
            </span>
            <ion-text *ngIf=" productInfo?.productCode || productInfo?.codice ">Cod. </ion-text><b>{{ productInfo?.productCode }}{{ productInfo?.codice }}</b> <br />
            <p *ngIf=" productInfo?.notFound ">
                <ion-text color="danger"><ion-icon name="warning"></ion-icon> Prodotto non trovato</ion-text>
            </p>
            <span *ngIf=" productInfo?.taglia ">                
                Disponibilità: <b>{{ productInfo?.disponibilita }}</b>.        
            </span>
        </ion-card>

        <form [formGroup]="storeForm" padding-right>
            <ion-input type="hidden" formControlName="productCode" required></ion-input>
            <ion-input type="hidden" formControlName="action" required></ion-input>
            <ion-input type="hidden" formControlName="username" required></ion-input>
            <ion-input type="hidden" formControlName="token" required></ion-input>
            <ion-input type="hidden" formControlName="app_name" required></ion-input>

            <ion-row class="align-items-flex-end">
                <ion-item>
                    <ion-label position="floating">Quantità</ion-label>
                    <ion-input type="number" formControlName="amount" required></ion-input>
                </ion-item>

                <ion-button shape="round" size="small" (click)=" subValue() "><ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon></ion-button>
                <ion-button shape="round" size="small" (click)=" addValue() "><ion-icon slot="icon-only" name="add-circle-outline"></ion-icon></ion-button>
            </ion-row>

            <ion-button [hidden]="!(productInfo?.productCode || productInfo?.codice)" color="primary" expand="block" [disabled]="!storeForm.valid" (click)="sendProductUpdate()">
                <span *ngIf=" showOfflineMessage && (productInfo?.productCode || productInfo?.codice) "><ion-icon name="save"></ion-icon> Salva</span>
                <span *ngIf=" !showOfflineMessage && (productInfo?.productCode || productInfo?.codice) "><ion-icon name="send"></ion-icon> Invia</span>
            </ion-button>
        </form>

        <p text-center slot="bottom"><ion-text color="danger" *ngIf=" showOfflineMessage "><ion-icon name="warning"></ion-icon> OFFLINE MODE</ion-text></p>

    </div>
    
</ion-content>

<ion-footer>
    <ion-toolbar style="background-color:black">
        <ion-button class="closeScanner ion-hidden" vertical="bottom" (click)=" closeScanner() ">
            <ion-icon name="close"></ion-icon> Chiudi
        </ion-button>
    </ion-toolbar>
</ion-footer>