ion-content {
  --background: none transparent;
}

.align-items-flex-end {
    align-items: flex-end;
    -webkit-align-items: flex-end;
}

.item-input {
    background-color: #000;
}

ion-item {
    background-color: #000;
}