<ion-header>
  <ion-toolbar>
    <ion-title>{{ table }}</ion-title>
    <ion-buttons slot="end">
      	<ion-button routerLink="/{{ table }}/create"><ion-icon name="add-circle"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item-sliding *ngFor="let item of items" #slidingItem>
            <ion-item>
                <ion-label>
                    <ion-item lines="none" (click)="showDetail(item)">
                        <ion-icon name="flower" slot="start"></ion-icon>
                        <div [innerHtml]="item.strain.name"></div>
                        <div slot="end">{{item.day_start_grow | date: 'dd-MM-yyyy'}}</div>
                    </ion-item>

                </ion-label>
            </ion-item>

            <ion-item-options side="end">
                <ion-item-option (click)="showDetail(item)">Edit</ion-item-option>
                <ion-item-option (click)="deleteItem(item)" color="danger">Delete</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
    </ion-list>
</ion-content>
